body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 100px auto 0;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login > a {
  margin-bottom: 20px;
}

.login form {
  display: inline-flex;
  flex-direction: column;
}

.login form input {
  margin-bottom: 10px;
}

.login-note,
.login .error {
  font-size: 12px;
  margin-bottom: 10px;
}

.login .error {
  color: red;
}
